<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Flaggskärm</title>
    <link rel="stylesheet" href="../style.css" />

    <script src="../socket.io/socket.io.js"></script>
  </head>
  <style></style>

  <body>
    <div id="screen-name"></div>
    <div class="corner-race-display"></div>
    <div id="flag-screen">
      <div class="flag-start-light">
        <div class="start-light-text"></div>
        <div class="light-dot"></div>
        <div class="light-dot"></div>
        <div class="light-dot"></div>
        <div class="light-dot"></div>
        <div class="light-dot"></div>
      </div>
      <div class="flag-display">
        <span class="flag-display-title"></span>
        <span class="flag-display-date"></span>
        <div class="carNum"></div>
      </div>
    </div>

    <script src="../flag.js"></script>
  </body>
</html>
