<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Socket IO</title>
    <link rel="stylesheet" href="../style.css">
    
    <script src="../socket.io/socket.io.js"></script>
</head>
<style>

</style>

<body>
<h2><a href="/kontroll">Kontrollskärm</a></h2>
<h2><a href="/section/0">Sektion 0 (huvudskärm)</a></h2>
<h2><a href="/section/1">Sektion 1</a></h2>
<h2><a href="/section/2">Sektion 2</a></h2>
<h2><a href="/section/3">Sektion 3</a></h2>
<h2><a href="/section/4">Sektion 4</a></h2>
<h2><a href="/section/5">Sektion 5</a></h2>
<h2><a href="/section/6">Sektion 6</a></h2>
<h2><a href="/section/7">Sektion 7</a></h2>
<h2><a href="/section/8">Sektion 8</a></h2>
<h2><a href="/section/9">Sektion 9</a></h2>
<h2><a href="/section/10">Sektion 10</a></h2>
<h2><a href="/section/11">Sektion 11</a></h2>
<h2><a href="/section/12">Sektion 12</a></h2>
</body>
</html>